body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
  
  }
  
  .flex{
    display: flex;
    align-items: center;
  }
  
  
  .header_area {
    height: 60px;
  
  }
  
  
  .logo {
    float: left;
    width: 30%;
  }
  
  .logo img {
    margin-left: 150px;
    width: 150px;
    height: 80px;

  }
  
  
  .right_header_area {
    display: flex;
    float: right;
    width: 45%;
    overflow: hidden;
    margin-right: 200px;
  }
  
  .social_area{
    margin-right: 20px;
  }
  .social_area ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-right: 40px;
    gap: 10px;
  
  }
  
  .social_area ul li {
    display: inline-block;
    padding: 12px 14px;
    color: white;
    background-color: #004aad;
    border-radius: 50%;
  }
  
  .social_area i {
    color: white;
  }

  
 

/* ~ main content part */
.main-container{
    margin-top:40px;
    height: 750px;
    width: 100%;
    background: url("/images2/blue1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-section {
    position: relative;
    height: 90%;
    width: 95%;
    opacity: 90%;
    border-radius: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.inner-div{
    display: flex;
}
#main-heading{
    font-size: 40px;
    text-align: center;
    color: #004aad;
}

#logo-1{
    margin-left: 20px;
    border-radius: 20px;
}

#main-content {
    margin: 12px 20px;
    font-size: 16px;

}
#main_menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
 
}

#main_menu li {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;

}

#menu a {
  text-decoration: none;
  color: #004aad;
}

#menu a:hover {
  color: #d8bfa2;
}