/* Base styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html,
body {
	height: 100%;
	cursor: pointer;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: grid;
	place-items: center;
	background-image: url(/images2/blue1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
input,
button {
	font: inherit;
	border: none;
	outline: none;
}
/* Base styles end */
.form {
	max-width: 350px;
    background: linear-gradient(to bottom, #92d1f3,
    rgb(7, 105, 196));
    
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px;
}
.checkout-method {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
    justify-content: center;
}
.button {
	background-color: #242424;
	color: #fff;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.5s;
}
.button:is(:hover, :focus) {
	background-color: #1146d8;
	color: #fff;
}
.button i {
	font-size: 24px;
}
.button--inactive {
	background-color: #f2f2f2;
	color: #242424;
}
.checkout-information,
.input-group {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.input-group {
    width: 300px;
	gap: 5px;
}
.input-group label {
	font-size: 11px;
	color: #242424;
	font-weight: bold;
}
.input-group input {
	width: 100%;
	padding: 5px 15px;
	border-radius: 8px;
	background-color: #f2f2f2;
}
.input-group input:focus {
	outline: 2px solid #242424;
	background-color: transparent;
}
.horizontal-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 15px;
}
.button--checkout {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 0;
}